# Homework 6

In [1]:
# import common
import pandas as pd
import numpy as np
from scipy import stats

import seaborn as sns
import matplotlib.pylab as plt
from statsmodels.stats import weightstats
from statsmodels.stats import proportion

#### 1. Par사는 골프용품을 생산하는 대기업이다. 기존의 제품에 비해 신제품이 내구성을 향상시키면서 손색없는 비거리를 보일 수 있는 골프공의 생산에 관심이 있다. 두 제품 간의 비거리를 비교하기 위해서 각각 40개의 골프공을 추출하여 비거리를 측정하였다. 비거리의 측정 결과는 golf.csv에 수록되어 있다. 

#### (a) 기존 제품과 신제품 간의 비거리를 비교하는데 활용할 수 있는 가설을 제시하시오.

In [2]:
golf = pd.read_csv('C:/Users/ambit/Downloads/Dataset-20230330/Golf.csv')
golf.columns

Index(['Current', 'New'], dtype='object')

In [3]:
golf

    Current  New
0       264  277
1       261  269
2       267  263
3       272  266
4       258  262
5       283  251
6       258  262
7       266  289
8       259  286
9       270  264
10      263  274
11      264  266
12      284  262
13      263  271
14      260  260
15      283  281
16      255  250
17      272  263
18      266  278
19      268  264
20      270  272
21      287  259
22      289  264
23      280  280
24      272  274
25      275  281
26      265  276
27      260  269
28      278  268
29      275  262
30      281  283
31      274  250
32      273  253
33      263  260
34      275  270
35      267  263
36      279  261
37      274  255
38      276  263
39      262  279

In [4]:
golf.describe()

          Current         New
count   40.000000   40.000000
mean   270.275000  267.500000
std      8.752985    9.896904
min    255.000000  250.000000
25%    263.000000  262.000000
50%    270.000000  265.000000
75%    275.250000  274.500000
max    289.000000  289.000000

In [5]:
stats.levene(golf['Current'], golf['New'])

LeveneResult(statistic=0.2553238291765741, pvalue=0.6147759523331309)

In [4]:
# 귀무가설 (H0) : 기존 제품과 신제품의 평균 비거리는 같다. (μ1 = μ2)
# 대립가설 (H1) : 기존 제품과 신제품의 평균 비거리는 다르다. (μ1 ≠ μ2)

weightstats.ttest_ind(golf['Current'], golf['New'], )

(1.3283615935245674, 0.18793228491854674, 78.0)

In [6]:
import numpy as np
from scipy.stats import ttest_ind

# 기존 제품과 신제품의 비거리 데이터
current_distances = np.array([264, 261, 267, 272, 258, 283, 258, 266, 259, 270, 263, 264, 284, 263, 260, 283, 255,
                             272, 266, 268, 270, 287, 289, 280, 272, 275, 265, 260, 278, 275, 281, 274, 273, 263, 275, 267, 279, 274, 276, 262])
new_distances = np.array([277, 269, 263, 266, 262, 251, 262, 289, 286, 264, 274, 266, 262, 271, 260, 281, 250, 263,
                         278, 264, 272, 259, 264, 280, 274, 281, 276, 269, 268, 262, 283, 250, 253, 260, 270, 263, 261, 255, 263, 279])

# 독립 표본 t-검정 실행
t_statistic, p_value = ttest_ind(current_distances, new_distances)

# 결과 출력
print("t-통계량:", t_statistic)
print("p-value:", p_value)

# 유의수준 설정 (0.05)
alpha = 0.05

# 가설 검증
if p_value < alpha:
    print("귀무가설 기각: 두 제품의 평균 비거리는 통계적으로 유의한 차이가 있다.")
else:
    print("귀무가설 채택: 두 제품의 평균 비거리는 통계적으로 유의한 차이가 없다.")

t-통계량: 1.3283615935245678
p-value: 0.18793228491854663
귀무가설 채택: 두 제품의 평균 비거리는 통계적으로 유의한 차이가 없다.

#### (b) 가설검정을 수행할 수 있도록 자료를 분석하시오. P값은 얼마이며 이 결과에 대하여 Par사에 어떤 자문을 할 수 있겠는가?

In [ ]:
# t-통계량: 1.3283615935245678
# p-value: 0.18793228491854663

# 현재 데이터로 분석한 결과, 기존 제품과 신제품의 평균 비거리에는 통계적으로 유의한 차이가 없다
# 즉, 신제품이 기존 제품에 비해 비거리 면에서 큰 장점이 없다고 볼 수 없다

# 그러므로 신제품 마케팅시 기존 제품과 거리측정에 차이가 없으므로, 거리 위주 마케팅 보다는
# 신제품의 "내구성" 위주의 마케팅을 실시하는것이 바람직하다.

#### (c) 각 모델의 모집단 평균에 대한 95% 신뢰구간은 얼마인가? 두 신뢰구간이 겹치는가? 위의 가설검정 결과와 비교하여 서술하시오.

In [10]:
import numpy as np
from scipy import stats


def confidence_interval(data, confidence=0.95):
    n = len(data)
    mean = np.mean(data)
    stderr = stats.sem(data)
    margin = stderr * stats.t.ppf((1 + confidence) / 2, n - 1)
    return (mean - margin, mean + margin)

current_ci = confidence_interval(current_distances)
new_ci = confidence_interval(new_distances)

print("기존 제품 평균 비거리의 95% 신뢰구간:", current_ci)
print("신제품 평균 비거리의 95% 신뢰구간:", new_ci)

# 95%신뢰구간이 겹치는 것을 확인 할 수 있다
# 두 제품의 평균 비거리에 대한 차이가 통계적으로 유의하지 않다는 것과 일치
# 가설검정 결과에서 귀무가설을 채택하여 두 제품의 평균 비거리에는 통계적으로 유의한 차이가 없다고 결론지었으며, 
# 신뢰구간 분석 결과도 이 결론과 일치하며, 이를 통해 기존 제품과 신제품의 평균 비거리 차이가 크지 않음을 확인

기존 제품 평균 비거리의 95% 신뢰구간: (267.47565965314044, 273.0743403468595)
신제품 평균 비거리의 95% 신뢰구간: (264.33481641038986, 270.66518358961014)

#### 2. 고혈압 환자 120명을 대상으로 치료 전후의 혈압이 blood_pressure.csv에 저장되어 있다. 해당 치료가 효과가 있는지 (즉, 치료 후의 혈압이 감소했는지) 가설검정 절차를 통해 답하시오.

In [9]:
blood_data = pd.read_csv('C:/Users/ambit/Downloads/Dataset-20230330/blood_pressure.csv')
blood_data

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [15]:
df = pd.DataFrame(blood_data)
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [16]:
# 치료 전 혈압 데이터와 치료 후 혈압 데이터
before_treatment = df['bp_before']
after_treatment = df['bp_after']

# 쌍체 표본 t-검정 수행
t_statistic, p_value = stats.ttest_rel(before_treatment, after_treatment)

# 결과 출력
print("t-통계량:", t_statistic)
print("p-value:", p_value)

# 유의수준 설정 (0.05)
alpha = 0.05

# 가설 검증
if p_value < alpha:
    print("귀무가설 기각: 치료 후 혈압이 통계적으로 유의하게 감소했다.")
else:
    print("귀무가설 채택: 치료 후 혈압이 통계적으로 유의하게 감소하지 않았다.")

t-통계량: 3.3371870510833657
p-value: 0.0011297914644840823
귀무가설 기각: 치료 후 혈압이 통계적으로 유의하게 감소했다.

#### 3.	시카고 O’Hare 공항과 애틀란타의 Hartsfield-Jackson공항은 미국에서 가장 번잡한 공항들 중에 하나이다. 이렇게 붐비는 관계로 종종 도착과 이륙 지연이 발생한다. 예정보다 15분 지체되면 지연으로 고려된다. 시카고 O’Hare공항은 지난 달 900편 중 252편이 이륙지연되었고 애틀란타의 Hartsfield-Jackson공항은 1200편 중 312편이 이륙지연 되었다. 두 공항의 출발지연에 대한 모집단 비율의 차이가 있는지 판단하기 위해 가설검정을 진행하시오.

In [18]:
# import math
# from scipy.stats import norm

# # 총 편수와 이륙 지연된 편수
# n1 = 900
# x1 = 252
# n2 = 1200
# x2 = 312

# # 각 표본의 비율
# p1 = x1 / n1
# p2 = x2 / n2

# # 통합 비율
# p = (x1 + x2) / (n1 + n2)

# # z-검정 수행
# se = math.sqrt(p * (1-p) * (1/n1 + 1/n2))
# z_statistic = (p1 - p2) / se

# # p_value 계산
# p_value = 2 * (1 - norm.cdf(abs(z_statistic)))

# # 결과 출력
# print(f"z-검정 결과: z = {z_statistic:.2f}, p-value = {p_value:.4f}")

# if p_value < 0.05:
#     print("귀무가설 기각, 유의미한 차이가 있습니다.")
# else:
#     print("귀무가설 채택, 차이가 없습니다.")
    
# print(p_value, "가 유의수준 0.05보다 크므로 귀무가설을 채택한다" )

z-검정 결과: z = 1.02, p-value = 0.3062
귀무가설 채택, 차이가 없습니다.
0.30615111466303757 가 유의수준 0.05보다 크므로 귀무가설을 채택한다

In [17]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

# 지연된 이륙 횟수와 전체 이륙 횟수
delayed_flights = np.array([252, 312])
total_flights = np.array([900, 1200])

# 두 비율의 검정
z_statistic, p_value = proportions_ztest(delayed_flights, total_flights)

# 결과 출력
print("z-통계량:", z_statistic)
print("p-value:", p_value)

# 유의수준 설정 (0.05)
alpha = 0.05

# 가설 검증
if p_value < alpha:
    print("귀무가설 기각: 두 공항의 출발 지연 모집단 비율의 차이가 있다.")
else:
    print("귀무가설 채택: 두 공항의 출발 지연 모집단 비율의 차이가 없다.")

z-통계량: 1.0233315429559044
p-value: 0.30615111466303746
귀무가설 채택: 두 공항의 출발 지연 모집단 비율의 차이가 없다.

#### 4. 올해 초 13주 동안 토요일 저녁 뉴스의 시청률이 MBC방송은 29%, KBS방송은 28%, SBS 방송은25%, 기타 방송사가 18%로 기록되었다. 토요일 저녁 방송 편성이 변경되고 난 다음에 300가구를 선정하여 시청률을 조사한 결과에 따르면 MBC 95가구, KBS 70가구, SBS 89가구, 기타 방송이 46가구를 기록하였다. 유의수준 0.05 하에서 시청률에 변경이 있었다고 할 수 있는지 통계적 판단을 하시오.

In [24]:
# 귀무가설(H0): 토요일 저녁 방송 편성 변경 전과 후의 시청률에 차이가 없다.
# 대립가설(H1): 토요일 저녁 방송 편성 변경 전과 후의 시청률에 차이가 있다.

from scipy.stats import chi2_contingency

# 변경 전 시청률과 변경 후 시청률
households = np.array([95, 70, 89, 46])
broadcaster = np.array([0.29, 0.28, 0.25, 0.18])

# 기대 빈도수 계산
total_households = 300
expected_counts = total_households * broadcaster

# 카이제곱 검정 수행
chi_square_statistic, p_value, _, _ = chi2_contingency(
    np.array([households, expected_counts]))

# 결과 출력
print("카이제곱 통계량:", chi_square_statistic)
print("p-value:", p_value)

# 유의수준 설정 (0.05)
alpha = 0.05

# 가설 검증
if p_value < alpha:
    print("귀무가설 기각: 토요일 저녁 방송 편성 변경 전과 후의 시청률에 차이가 있다.")
else:
    print("귀무가설 채택: 토요일 저녁 방송 편성 변경 전과 후의 시청률에 차이가 없다.")

카이제곱 통계량: 3.4594975755951394
p-value: 0.3260532665762452
귀무가설 채택: 토요일 저녁 방송 편성 변경 전과 후의 시청률에 차이가 없다.

In [33]:
data = [2, 4, 6, 8, 10]

# 평균 계산
mean = sum(data) / len(data)

# 분산 계산
var = sum((i - mean) ** 2 for i in data) / len(data)

# 결과 출력
print("평균: ", mean)
print("분산: ", var)

평균:  6.0
분산:  8.0